fastapi
uvicorn[standard]
gunicorn
sqlalchemy[asyncio]
alembic
aiosqlite
asyncpg
pydantic-settings
certifi
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
httpx
email-validator
pytesseract
Pillow
opencv-python-headless
